@model PortalProject.Web.Models.FaqModel
@{
    ViewBag.Title = PortalProject.Web.Resources.Resource.SikSorulanSorular + " | " + @ViewBag.Setting.Title;
}

<!-- MAIN TITLE -->
<div class="main-title">
    <div class="container">
        <h1 class="main-title__primary">@PortalProject.Web.Resources.Resource.SikSorulanSorular</h1>
    </div>
</div><!-- /.main-title -->
<!-- BREADCRUMBS -->
<div class="breadcrumbs">
    <div class="container">
        <span>
            <a class="home" href="/" title="@PortalProject.Web.Resources.Resource.AnasayfayaDon" rel="v:url">@PortalProject.Web.Resources.Resource.Anasayfa</a>
        </span>
        <span>
            <a class="home" href="@(ViewContext.RouteData.GetRequiredString("actionName") == "iha" || ViewContext.RouteData.GetRequiredString("actionName") == "uav" ? "/" + PortalProject.Web.Resources.Resource.IHAKisa.ToLower() : "/" + PortalProject.Web.Resources.Resource.EAKisa.ToLower())" title="@(ViewContext.RouteData.GetRequiredString("actionName") == "iha" || ViewContext.RouteData.GetRequiredString("actionName") == "uav" ? PortalProject.Web.Resources.Resource.IHA : PortalProject.Web.Resources.Resource.EA)" rel="v:url">@(ViewContext.RouteData.GetRequiredString("actionName") == "iha" || ViewContext.RouteData.GetRequiredString("actionName") == "uav" ? @PortalProject.Web.Resources.Resource.IHA : @PortalProject.Web.Resources.Resource.EA)</a>
        </span>
        <span>
            <span>@PortalProject.Web.Resources.Resource.SikSorulanSorular</span>
        </span>
    </div>
</div><!-- /.breadcrumbs -->

<div class="container">

    <div class="row margin-bottom-60 hentry">

        <div class="col-xs-12  col-md-12">
            @foreach (var item in Model.FaqList)
	        {
                <h3><a href="@((PortalProject.Core.Enums.Common.Language)ViewBag.Language == PortalProject.Core.Enums.Common.Language.Turkce ? "/iha/sss/" + item.SeoUrl + "/" + item.Id : "/en/uav/faq/" + item.SeoUrl + "/" + item.Id)" style="color:#444444;">@item.Title</a></h3>
            }         
        </div><!-- /.col -->

    </div><!-- /.row -->

</div><!-- /.container -->

