@model PortalProject.Web.Models.ContactModel
@{
    ViewBag.Title = PortalProject.Web.Resources.Resource.İletisimBilgileriCap + " | " + ViewBag.Setting.Title;
}

<script src="@Url.Content("~/Scripts/js/jquery-2.1.4.min.js")" type="text/javascript"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>

<!-- MAIN TITLE -->
<div class="main-title">
    <div class="container">
        <h1 class="main-title__primary">@PortalProject.Web.Resources.Resource.İletisimBilgileriCap</h1>
        <h3 class="main-title__secondary">@PortalProject.Web.Resources.Resource.IletisimSayfaForm</h3>
    </div>
</div><!-- /.main-title -->
<!-- BREADCRUMBS -->
<div class="breadcrumbs margin-bottom-0">
    <div class="container">
        <span>
            <a class="home" href="/@PortalProject.Web.Resources.Resource.Dil" title="@PortalProject.Web.Resources.Resource.AnasayfayaDon" rel="v:url">@PortalProject.Web.Resources.Resource.Anasayfa</a>
        </span>
        <span>
            <span>@PortalProject.Web.Resources.Resource.İletisimBilgileriCap</span>
        </span>
    </div>
</div><!-- /.breadcrumbs -->
<!-- MAP -->
<div class="map margin-bottom-60">

    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3062.5364214692877!2d32.73618305328336!3d39.86222076255393!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1str!2str!4v1456171352298" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
    
</div><!-- /.map -->

<div class="container">

    <div class="row margin-bottom-30">

        <div class="col-sm-3 hentry">

            <div class="widget_black-studio-tinymce">
                <div class="featured-widget">
                    <h3 class="widget-title">
                        <span class="widget-title__inline">@PortalProject.Web.Resources.Resource.İletisimBilgileriCap</span>
                    </h3>
                    <p>
                        @ViewBag.Contact.Address
                    </p>
                    <p>
                        @ViewBag.Contact.Phone<br>
                        <a href="mailto:@ViewBag.Contact.Email">@ViewBag.Contact.Email</a>
                    </p>
                </div>
            </div>

            @*<div class="widget_pw_opening_time">

                <div class="featured-widget">
                    <h3>
                        <span class="icon icons-ornament-left"></span>
                        @PortalProject.Web.Resources.Resource.CalismaSaatleri
                        <span class="icon icons-ornament-right"></span>
                    </h3>
                    <dl class="week-day ">
                        <dt>@PortalProject.Web.Resources.Resource.Pazartesi</dt>
                        <dd>8:30 - 17:30</dd>
                    </dl>
                    <dl class="week-day  light-bg">
                        <dt>@PortalProject.Web.Resources.Resource.Sali</dt>
                        <dd>8:30 - 17:30</dd>
                    </dl>
                    <dl class="week-day ">
                        <dt>@PortalProject.Web.Resources.Resource.Carsamba</dt>
                        <dd>8:30 - 17:30</dd>
                    </dl>
                    <dl class="week-day  light-bg">
                        <dt>@PortalProject.Web.Resources.Resource.Persembe</dt>
                        <dd>8:30 - 17:30</dd>
                    </dl>
                    <dl class="week-day ">
                        <dt>@PortalProject.Web.Resources.Resource.Cuma</dt>
                        <dd>8:30 - 17:30</dd>
                    </dl>
                    <dl class="week-day  light-bg closed">
                        <dt>@PortalProject.Web.Resources.Resource.Cumartesi</dt>
                        <dd>@PortalProject.Web.Resources.Resource.Kapali</dd>
                    </dl>
                    <dl class="week-day  closed">
                        <dt>@PortalProject.Web.Resources.Resource.Pazar</dt>
                        <dd>@PortalProject.Web.Resources.Resource.Kapali</dd>
                    </dl>
                </div><!-- /.featured-widget -->

            </div><!-- /.widget_pw_opening_time -->*@

        </div><!-- /.col -->

        <div class="col-sm-9">

            <h3 class="widget-title margin-top-0">
                @PortalProject.Web.Resources.Resource.IletisimFormu
            </h3>

            <p>
                @PortalProject.Web.Resources.Resource.IletisimSayfaForm
            </p>
            <script type="text/javascript">
                function onBegin() {
                    $("#btnSend").hide();
                }

                function onComplete() {
                    $("#btnSend").show();
                    $('#form0').trigger("reset");
                    
                }
            </script>
            <form action="~/tr/SendContactMail" data-ajax="true" data-ajax-begin="onBegin" data-ajax-complete="onComplete" data-ajax-loading="#loading" data-ajax-mode="replace" data-ajax-update="#result" id="form0" method="post">

                @Html.AntiForgeryToken()
                <div class="aSubmit">
                    <div class="row">
                        <div class="col-xs-12 col-md-4">
                            <div class="form-group">
                                <input type="text" placeholder="@PortalProject.Web.Resources.Resource.Isim*" aria-invalid="false" aria-required="true" size="40" value="" name="frmName" required>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="form-group">
                                <input type="text" placeholder="@PortalProject.Web.Resources.Resource.Soyisim*" aria-invalid="false" aria-required="true" size="40" value="" name="frmSurname" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-4">
                            <div class="form-group">
                                <input type="email" placeholder="@PortalProject.Web.Resources.Resource.EMailAdresi*" aria-invalid="false" aria-required="true" size="40" value="" name="frmEMail" required>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="form-group">
                                <input type="tel" placeholder="@PortalProject.Web.Resources.Resource.Telefon" aria-invalid="false" aria-required="true" size="40" value="" name="frmPhone">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <textarea placeholder="@PortalProject.Web.Resources.Resource.Mesaj*" aria-invalid="false" rows="10" cols="40" name="frmMessage" required></textarea>
                            </div>
                            <input type="submit" class="btn btn-primary" id="btnSend" value="@PortalProject.Web.Resources.Resource.Gonder">
                            <div id="result"></div>
                            <div id="loading" style="display:none;">@PortalProject.Web.Resources.Resource.TalepIletiliyor</div>
                        </div>
                    </div>
                </div>
            </form>
</div><!-- /.col -->

    </div><!-- /.row -->

</div><!-- /.container -->

