@model PortalProject.Web.Models.HomeModel
@{
    ViewBag.Title = PortalProject.Web.Resources.Resource.EA + " | " + ViewBag.Setting.Title;
    ViewBag.Description = ViewBag.Setting.Description;
}
@*<!-- JUMBOTRON -->
<div class="jumbotron jumbotron--with-captions">

    <div data-interval="5000" data-ride="carousel" id="headerCarousel" class="carousel slide">

        <div class="carousel-inner">

            @foreach (var item in Model.BannerList.Take(1))
            {
                <div class="item active">
                    <img alt="@item.TitleMain" sizes="100vw" srcset="~/Content/@item.Photo 1920w, ~/Content/images/manset/banner.png 425w" src="~/Content/@item.Photo">
                    <div class="container">
                        <div class="jumbotron-content">
                            <div class="jumbotron-content__title">
                                <h1>@item.TitleMain</h1>
                            </div>
                            <div class="jumbotron-content__description">
                                <p class="p1">
                                    <span class="s1">@item.TitleSub</span>
                                </p>
                                <p>
                                    <a target="@item.UrlTarget" href="@item.Url" class="btn btn-primary @(@String.IsNullOrEmpty(item.Url) ? "hide" : "")">DETAYLAR</a>
                                </p>
                                <div class="w69b-screencastify-mouse"></div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.item -->
            }

            @foreach (var item in Model.BannerList.Skip(1))
            {
                <div class="item">
                    <img alt="@item.TitleMain" sizes="100vw" srcset="~/Content/@item.Photo 1920w, ~/Content/images/manset/banner.png 425w" src="~/Content/@item.Photo">
                    <div class="container">
                        <div class="jumbotron-content">
                            <div class="jumbotron-content__title">
                                <h1>@item.TitleMain</h1>
                            </div>
                            <div class="jumbotron-content__description">
                                <p class="p1">
                                    <span class="s1">@item.TitleSub</span>
                                </p>
                                <p>
                                    <a target="@item.UrlTarget" href="@item.Url" class="btn btn-primary @(@String.IsNullOrEmpty(item.Url) ? "hide" : "")">DETAYLAR</a>
                                </p>
                                <div class="w69b-screencastify-mouse"></div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.item -->
            }

        </div><!-- /.carousel-inner -->

        <div class="container">

            <a data-slide="prev" role="button" href="#headerCarousel" class="left jumbotron__control">
                <i class="fa  fa-caret-left"></i>
            </a>
            <a data-slide="next" role="button" href="#headerCarousel" class="right jumbotron__control">
                <i class="fa  fa-caret-right"></i>
            </a>
        </div><!-- /.container -->

    </div><!-- /.carousel -->

</div><!-- /.jumbotron -->*@
<!-- OUR SERVICES -->
<div class="container" role="main">
    <div class="row jumbotron-overlap first">
        <br />
        <h3 style="text-align:center;">Şehir İçi Bireysel Ulaşım ve Ticari Taşımacılık Amaçlı Elektrikli Araç Projesi</h3>
        <br /><br />
        <p style="text-align: center;"><img alt="" src="/Content/images/images/ea.jpg" style="height:415px; width:600px" /></p>

        <p>&nbsp;</p>

        <p>&Uuml;lkemizde otomotiv yan sanayi ve yerli imk&acirc;nlardan azami suretle istifade edilmek &uuml;zere, tamamen elektrikli kara taşıtlarının seri &uuml;retimi ve pazara sunumuna y&ouml;nelik &ccedil;alışmalarımız s&uuml;rmektedir.</p>

        <p>
            <br />
            a) &Ccedil;evreci ulaşım ve taşıma teknolojilerinin &uuml;lkemizde de tanınması, geliştirilmesi, seri &uuml;retime imk&acirc;n verecek d&uuml;zeyde benimsenmesi y&ouml;n&uuml;nde yenilik&ccedil;i bir iş modeline zemin hazırlanması,&nbsp;<br />
            b) &Uuml;lkemiz motorlu kara taşıtları filosunun sıfır atık gaz salınımlı, elektrikten g&uuml;&ccedil; alan motorlu taşıtlarla g&uuml;&ccedil;lendirilmesi, yenilenmesi, yeniden yapılandırılması suretiyle petrol bağımsız, temiz ve yenilenebilir enerji y&ouml;netimine ve &ccedil;evreyi koruyan s&uuml;rd&uuml;r&uuml;lebilir kalkınmaya destek verilmesi şeklindedir.<br />
            <br />
            Firmamız b&uuml;nyesinde yaptığımız &ccedil;alışmalarla, şehir i&ccedil;i g&uuml;nl&uuml;k ulaşım ve taşımacılık ihtiya&ccedil;larına cevap verecek L7e sınıfı elektrik motorlu kara taşıtı ilk &ouml;rneğini geliştirdik. Seri &uuml;retime esas &uuml;r&uuml;n geliştirme ve tasarım &ccedil;alışmaları ilerletilmekte ve karayollarına &ccedil;ıkacak ara&ccedil; &ccedil;alışmaları 2016 yılı i&ccedil;erisinde tamamlanacaktır.&nbsp;<br />
            <br />
            Aracın mevcut parametrelere g&ouml;re azami hızı 80 km/saat olması, batarya şarjının standart altyapı ile 3 saatte, hızlı şarj altyapısı &uuml;zerinden 15 dakikada tamamlanması ve 8,4 kWh&rsquo;lık g&uuml;&ccedil; depolama kapasitesi ile 15 kW&rsquo;lik bir elektrik motorunu besleyecek şekilde tek şarj ile 120 km menzile ulaşması ilk prototipte ger&ccedil;ekleştirilmiştir. Benzer hedef değerler seri &uuml;retime esas mikro ticari ara&ccedil; i&ccedil;in de esas alınmıştır. TEO markası altında geliştirdiğimiz aracın &ouml;l&ccedil;&uuml;leri ise&nbsp;3225&nbsp;mm uzunluk,&nbsp;1455&nbsp;mm genişlik ve&nbsp;1546&nbsp;mm y&uuml;kseklik değerlerindedir. Yeni tasarım iki kişinin yan yana oturma d&uuml;zeninde kapasite sunmaktadır.&nbsp;<br />
            <br />
            Aracın standart bir d&ouml;rt kapılı otomobile g&ouml;re trafikte ve park halinde kapladığı alan daha az ve yakıt t&uuml;ketim maliyeti de orta sınıf bir otomobilin şehir i&ccedil;i t&uuml;ketim değerlerine g&ouml;re %92-96 daha d&uuml;ş&uuml;k seviyededir. Aracın 120 km&rsquo;lik menzili şehir i&ccedil;i g&uuml;nl&uuml;k ulaşım ihtiyacı i&ccedil;in yeterli olmakla birlikte ara&ccedil; bataryasının 15 dakika i&ccedil;inde %80 doluluğa &ccedil;ıkartılabildiği şart istasyon altyapısı sayesinde ihtiya&ccedil; duyulabilecek ilave enerji de g&ouml;rece kısa bir s&uuml;rede doldurulabilecektir. Aracın satışında %3&rsquo;l&uuml;k bir &Ouml;TV oranı ve yerli imalat kabiliyeti sayesinde ithal otomobiller i&ccedil;inde en ucuz muadillerden dahi daha d&uuml;ş&uuml;k maliyetlerde perakende satışı yapılabilir &ouml;ng&ouml;r&uuml;lmektedir.
        </p>



    </div>
    @*<div class="row jumbotron-overlap first">

        @foreach (var item in Model.ProductList)
        {
            <div class="col-sm-3">

                <a href="#">
                    <img alt="@item.Name" class="post-image" sizes="(min-width: 781px) 360px, calc(100vw - 30px)" srcset="~/Content/@item.Photo 360w, ~/Content/@item.Photo 848w" src="~/Content/@item.Photo">
                </a>

                <h5 class="page-box__title"><a href="#">@item.Name</a></h5>

                <p>
                    @item.Content
                </p>

                <p>
                    <a class="read-more" href="/urun/@item.SeoUrl/@item.Id">DETAYLARI GÖR</a>
                </p>

            </div><!-- /.col -->
        }

    </div>*@<!-- /.row -->

    @*<div class="row">

        <div class="col-sm-12">

            <h3 class="widget-title lined">
                <span>HİZMETLERİMİZ</span>
            </h3>

        </div><!-- /.col -->

    </div><!-- /.row -->

    <div class="row">

        <div class="col-sm-4">

            @foreach (var item in Model.ProServiceList.Take(3))
            {
                <div class="widget_pw_icon_box margin-bottom-30">
                    <a target="_self" href="/hizmetler/@item.SeoUrl/@item.Id" class="icon-box">
                        <i class="fa @item.IconClass"></i>
                        <h4 class="icon-box__title">@item.Name</h4>
                        <span class="icon-box__subtitle">@item.Description</span>
                    </a>
                </div><!-- /.widget_pw_icon_box -->
            }

        </div><!-- /.col -->

        <div class="col-sm-4">

            @foreach (var item in Model.ProServiceList.Skip(3).Take(3))
            {
                <div class="widget_pw_icon_box margin-bottom-30">
                    <a target="_self" href="/hizmetler/@item.SeoUrl/@item.Id" class="icon-box">
                        <i class="fa @item.IconClass"></i>
                        <h4 class="icon-box__title">@item.Name</h4>
                        <span class="icon-box__subtitle">@item.Description</span>
                    </a>
                </div><!-- /.widget_pw_icon_box -->
            }

        </div><!-- /.col -->

        <div class="col-sm-4">

            @foreach (var item in Model.ProServiceList.Skip(6).Take(3))
            {
                <div class="widget_pw_icon_box margin-bottom-30">
                    <a target="_self" href="/hizmetler/@item.SeoUrl/@item.Id" class="icon-box">
                        <i class="fa @item.IconClass"></i>
                        <h4 class="icon-box__title">@item.Name</h4>
                        <span class="icon-box__subtitle">@item.Description</span>
                    </a>
                </div><!-- /.widget_pw_icon_box -->
            }

        </div><!-- /.col -->

    </div>*@<!-- /.row -->

</div><!-- /.conainer -->
<!-- CTA -->
<div class="cta">

    <div class="container">

        <div class="row">

            @*<div class="col-md-12">

                <div class="call-to-action">
                    <div class="call-to-action__text">
                        İnsansız Hava Aracı ihtiyaçlarınız için doğru adrestesiniz.
                    </div>
                    <div class="call-to-action__button">
                        <a target="_blank" href="/iletisim" class="btn btn-primary">İLETİŞİM FORMU</a>
                    </div>
                </div><!-- /.call-to-action -->

            </div>*@<!-- /.col -->

        </div><!-- /.row -->

    </div><!-- /.container -->

</div><!-- /.cta -->
<!-- NEWS -->
<div class="news margin-bottom-60">

    <div class="container">

        <div class="row">

            @foreach (var item in Model.NewsList.Take(2))
            {
                <div class="col-sm-4 margin-bottom-30">

                    <div class="widget_pw_latest_news">
                        <a class="latest-news" href="@((PortalProject.Core.Enums.Common.Language)ViewBag.Language == PortalProject.Core.Enums.Common.Language.Turkce ? "/haberler/" + item.SeoUrl + "/" + item.Id : "/en/news/" + item.SeoUrl + "/" + item.Id)">
                            <div class="latest-news__date">
                                <div class="latest-news__date__month">@System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(Convert.ToDateTime(@item.Date).Month)</div>
                                <div class="latest-news__date__day">@Convert.ToDateTime(@item.Date).ToString("dd")</div>
                            </div>
                            <img alt="@item.Title" class="wp-post-image" sizes="(min-width: 781px) 360px, calc(100vw - 30px)" srcset="~/Content/@item.Photo 360w, ~/Content/@item.Photo 848w" src="~/Content/@item.Photo">
                            <div class="latest-news__content">
                                <h4 class="latest-news__title">@item.Title</h4>
                                <div class="latest-news__author">@item.Creator @PortalProject.Web.Resources.Resource.TarafindanOlusturuldu</div>
                            </div>
                        </a>
                    </div><!-- /.widget_pw_latest_news -->

                </div><!-- /.col -->
            }

            <div class="col-sm-4 margin-bottom-30">

                <div class="widget_pw_latest_news">
                    @foreach (var item in Model.NewsList.Skip(2).Take(3))
                    {
                        <a class="latest-news  latest-news--inline" href="@((PortalProject.Core.Enums.Common.Language)ViewBag.Language == PortalProject.Core.Enums.Common.Language.Turkce ? "/haberler/" + item.SeoUrl + "/" + item.Id : "/en/news/" + item.SeoUrl + "/" + item.Id)">
                            <div class="latest-news__content">
                                <h4 class="latest-news__title">@item.Title</h4>
                                <div class="latest-news__author">@item.Creator @PortalProject.Web.Resources.Resource.TarafindanOlusturuldu</div>
                            </div>
                        </a>
                    }
                    <a class="latest-news  latest-news--more-news" href="@((PortalProject.Core.Enums.Common.Language)ViewBag.Language == PortalProject.Core.Enums.Common.Language.Turkce ? "/haberler" : "/en/news")">
                        @PortalProject.Web.Resources.Resource.DigerHaberler
                    </a>
                </div><!-- /.widget_pw_latest_news -->

            </div><!-- /.col -->

        </div><!-- /.row -->

    </div><!-- /.container -->

</div><!-- /.news -->
<!-- ABOUT / QUICK QUITE / GALLERY / FAQ -->
<div class="container">


    <div class="row margin-bottom-60">

        <div class="col-sm-6">

            <div class="widget_black-studio-tinymce">

                <h3 class="widget-title lined">
                    <span style="text-transform:uppercase;">@PortalProject.Web.Resources.Resource.Galeri</span>
                </h3>

                <div class="gallery gallery-columns-3 gallery-size-medium">
                    @foreach (var item in Model.GalleryList)
                    {
                        <figure class="gallery-item">
                            <a href="~/Content/@item.Photo">
                                <img alt="placeholder" src="~/Content/@item.Photo">
                            </a>
                        </figure>
                    }

                </div><!-- /.gallery -->
                <p>
                    <a href="@((PortalProject.Core.Enums.Common.Language)ViewBag.Language == PortalProject.Core.Enums.Common.Language.Turkce ? "/galeri" : "/en/gallery")" class="read-more">@PortalProject.Web.Resources.Resource.TumAlbumleriGor</a>
                </p>

            </div><!-- /.widget_black-studio-tinymce -->

        </div><!-- /.col -->

        <div class="col-sm-6">

            <h3 class="widget-title lined">
                <span style="text-transform:uppercase;">@PortalProject.Web.Resources.Resource.SikSorulanSorular</span>
            </h3>

            @foreach (var item in Model.FaqList.Take(3))
            {
                <h4>
                    <a href="@((PortalProject.Core.Enums.Common.Language)ViewBag.Language == PortalProject.Core.Enums.Common.Language.Turkce ? "/iha/sss/" + item.SeoUrl + "/" + item.Id : "/en/uav/faq/" + item.SeoUrl + "/" + item.Id)" class="dark-link">@item.Title</a>
                </h4>
                <hr>
            }

            <p>
                <a href="@((PortalProject.Core.Enums.Common.Language)ViewBag.Language == PortalProject.Core.Enums.Common.Language.Turkce ? "/iha/sss" : "/en/uav/faq")" class="read-more">@PortalProject.Web.Resources.Resource.DahaFazlaSoru</a>
            </p>

        </div><!-- /.col -->

    </div><!-- /.row -->

</div><!-- /.container -->
