@model PortalProject.Web.Models.HomeModel
@{
    ViewBag.Title = ViewBag.Setting.Title;
    ViewBag.Description = ViewBag.Setting.Description;
}
<script src="@Url.Content("~/Scripts/js/jquery-2.1.4.min.js")" type="text/javascript"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>

<!-- TESTIMONIALS -->
<div class="testimonials">

    <div class="container">

        <div class="row">

            <div class="col-sm-12">

                <div class="row">
                    <div class="col-xs-12  col-sm-6 margin-bottom-30">
                        <h3 class="widget-title small lined">
                            <span>@PortalProject.Web.Resources.Resource.IHA</span>
                        </h3>
                        <a href="@((PortalProject.Core.Enums.Common.Language)ViewBag.Language == PortalProject.Core.Enums.Common.Language.Turkce ? "/iha" : "en/uav")">
                            <img alt="placeholder" class="img-responsive" src="~/@PortalProject.Web.Resources.Resource.IHAGirisLogo">
                        </a>
                    </div>
                    <div class="col-xs-12  col-sm-6 margin-bottom-30">
                        <h3 class="widget-title small lined">
                            <span>@PortalProject.Web.Resources.Resource.EA</span>
                        </h3>
                        <a href="@((PortalProject.Core.Enums.Common.Language)ViewBag.Language == PortalProject.Core.Enums.Common.Language.Turkce ? "/ea" : "en/ev")">
                            <img alt="placeholder" class="img-responsive" src="~/@PortalProject.Web.Resources.Resource.EAGirisLogo">
                        </a>
                    </div>
                </div>

            </div><!-- /.col -->

        </div><!-- /.row -->

    </div><!-- /.container -->

</div><!-- /.testimonials -->

<div class="container" style="margin-top:70px;">

    <div class="row margin-bottom-60">

        <div class="col-sm-6">

            <h3 class="widget-title medium">
                <span>@Model.pageAbout.Title</span>
            </h3>
            @Html.Raw(Model.pageAbout.Content.Substring(0, 1200) + "...")
            <p>
                <a href="@((PortalProject.Core.Enums.Common.Language)ViewBag.Language == PortalProject.Core.Enums.Common.Language.Turkce ? "/sayfa/hakkimizda/4" : "/en/page/about-us/8")" class="read-more">@PortalProject.Web.Resources.Resource.DevaminiOku</a>
            </p>

        </div><!-- /.col -->

        <div class="col-sm-6">

            <div class="featured-widget">

                <h3 class="widget-title">
                    @PortalProject.Web.Resources.Resource.BizeYazin
                </h3>

                <p>
                    @PortalProject.Web.Resources.Resource.AnasayfaFormAciklama
                </p>
                    <script type="text/javascript">
                        function onBegin() {
                            $("#btnSend").hide();
                        }

                        function onComplete() {
                            $("#btnSend").show();
                            $('#form0').trigger("reset");
                        }
                    </script>
                <form action="~/tr/SendMail" data-ajax="true" data-ajax-begin="onBegin" data-ajax-complete="onComplete" data-ajax-loading="#loading" data-ajax-mode="replace" data-ajax-update="#result" id="form0" method="post">

                    @Html.AntiForgeryToken()
                    <div class="contact-form-small">
                        <div class="row">
                            <div class="col-xs-12  col-md-6">
                                <div class="form-group">
                                    <input type="text" placeholder="@PortalProject.Web.Resources.Resource.IsimSoyisim *" aria-invalid="false" aria-required="true" size="40" value="" name="frmNameSurname" required>
                                </div>
                            </div>
                            <div class="col-xs-12  col-md-6">
                                <div class="form-group">
                                    <input type="text" placeholder="@PortalProject.Web.Resources.Resource.EMailAdresi *" aria-invalid="false" aria-required="true" size="40" value="" name="frmEMail" required>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-12">
                                <div class="form-group">
                                    <textarea placeholder="@PortalProject.Web.Resources.Resource.Mesaj *" aria-invalid="false" rows="10" cols="40" name="frmMessage" required></textarea>
                                </div>
                            </div>
                            <div class="col-xs-12  col-md-12">
                                <input type="submit" class="btn btn-primary pull-right" id="btnSend" value="@PortalProject.Web.Resources.Resource.Gonder">
                                <div id="result"></div>
                                <div id="loading" style="display:none;">@PortalProject.Web.Resources.Resource.TalepIletiliyor</div>
                            </div>
                        </div><!-- /.row -->
                    </div><!-- /.contact-form-small -->
                    </form>
</div><!-- /.featured-widget -->

        </div><!-- /.col -->

    </div><!-- /.row -->

</div><!-- /.container -->

